<div class="ContainerNavbar">
    <div class="logocontainer">

        <img src='/assets/steadfast.png' alt="steadfast" id="logoIMG">
    </div>
    <div class="barcontainer">
        <div class="bars">
            <i class="fa fa-bars" style="font-size:34px" (click)="openLSide()"></i>
            <div class="Sidebar">
            <div class="navbar-slide" [style.width]="sidebarWidth + '%'">
                <i class="fa fa-remove" style="font-size:20px"  (click)=" closeLSide()"></i>
                <a href="#carousel"(click)=" closeLSide()">Home</a>
                <a href="#about"(click)=" closeLSide()">About Us</a>
                <a href="#services"(click)=" closeLSide()">Services</a>
                <a href="#contact"(click)=" closeLSide()">Contact Us</a>
            </div>
            </div>
        </div>
    </div>
    <div class="DesktopNav">
        <div class="Desktop">
            <a href="#carousel">Home</a>
            <a href="#about">About Us</a>
            <a href="#services">Services</a>
            <a href="#contact">Contact Us</a>
        </div>
    </div>
