<div class="ContainerAbout">
  <div class="About">
    <div class="AboutText">
      <p>__________</p>
      <h1>Building Trust, Brick by Brick</h1>
      <h2>
        We offer professional construction, electrical, interior, and plumbing
        services, including house building, tiling, plastering, electrical
        installations and maintenance, ceiling and wall décor, and plumbing
        solutions for homes and businesses.
      </h2>
      <img
        src="assets/GlobalAssets/ChosenOneLogo.png"
        alt=""
        id="MissionLogo"
      />
    </div>
    <div class="Image">
      <div class="box1"></div>
      <div class="box2"></div>
      <div class="box3"></div>
      <div class="box4"></div>
    </div>
  </div>
</div>
