.ContainerAbout {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: var(--mainfont);
  }
  .AboutText {
    width: 100%;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-top: -6%;
  }
  .AboutText p {
    font-size: 25px;
    font-weight: bolder;
    color: var(--primarycolor);
  }
  .AboutText h1 {
      margin-top: -2%;
    font-size: 34px;
    font-weight: 400;
  }
  .AboutText h2{
      margin-top: -2%;
      font-size: 15px;
      width: 80%;
      line-height: 3vh;
      color: var(--paragraphcolor);  
  }
  .Image{
      padding-top: 2%;
      width: 100%;
      text-align: center;
      justify-content: center;
      align-items: center;
      display: flex;
      flex-direction: column;
      height: 100%;
      
  }
 #MissionLogo{
    display: none;

 }
 


  .box1{
    background-image: url('/assets/buildinghouses.jpg');
  }
 .box2{
    background-image: url('/assets/plumbing.jpg');
}
.box3{
    background-image: url('/assets/paving.jpg');
}
.box4{
    background-image: url('/assets/interior.jpg');
}
  .box1, .box2 ,.box3,.box4{
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 4%;
    width:70%;
    display:flex;
    flex-direction:column;
    padding-top: 5%;
    height: 26vh;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
    border-radius: 9px;
  }
  

  .fa{
    font-size: 44px;
  }
  @media screen and (min-width: 1024px) {
      .ContainerAbout {

          width: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
      }
  
      .About {
        width: 70%;
        justify-content: center;

          display: flex;
          flex-direction: row;
          align-items:center;
          text-align:start; /* Aligns text to the left */
          justify-content: center;
      
      }
  
      .AboutText {
    
        align-items: start;
        justify-content: start;
          display: flex;
          width:50% ;
          text-align: left; /* Aligns text to the left */

      }
  
      .AboutText h1 {
          font-size: 48px;
          font-weight: 400;      
          margin-bottom: 10px;
      }
  
      .AboutText h2 {
          font-size: 15px;
          line-height: 1.3;
          width:90%;
      }
  
      .Image {
          display: flex;
          flex-direction: row; 
          flex-wrap: wrap;
    
          width: 80%;
         
      }
      .box1,.box2,.box3,.box4{
        width:40%;
        padding-top: 0%;
      }
      .box1 h1{
        font-size:24px;
      }
      .box1 p{
        font-size: 10px;
      }
      #MissionLogo{
        display: flex;
        width: 75%;
    
     }
    
          
  .fa{
    font-size:30px;
  }
  }
  