<div class="ContainerOurServices">
    <div class="BoxContainer">
        <div class="box1">
            <i class="fa fa-building" id="Building"></i>
            <h1>Reliable & Trusted</h1>
            <p>We build with integrity, ensuring every project is completed on time and to the highest standards.</p>
        </div>
        <div class="box2">
            <i class="fa fa-hard-hat" id="helmet"></i>
<h1>Expert Team</h1>
<p>Our skilled  builders are dedicated to delivering safe, innovative, and high-quality construction solutions.</p>

        </div>
        <div class="box3">
            <i class="fa fa-tools"></i>
            <h1>Commitment to Safety</h1>
            <p>Safety is our top priority. Every project follows strict safety protocols to protect our team and your investment.</p>
        </div>
    </div>
  </div>
  