/* You can add global styles to this file, and also import other style files */
:root {
    --primarycolor: #FFCC00; /* construction yellow */
    --textprimary: #ffffff;
    --paragraphcolor:grey;
    --mainfont:"Mozilla Headline", sans-serif;
  }
  html {
    scroll-behavior: smooth;
  }
  